<div>
  <label for="">Nickname</label>
  {{input value=nickname}}
</div>
<div>
  <label for="">Location</label>
  {{input value=location}}
</div>

<button type="submit" {{action save}}>Save</button>
<button type="submit" {{action cancel}}>Cancel</button>
